<div class="container containerListTasks">
  <div class="header">
    <button mat-raised-button color="primary" (click)="openDialog()">{{"shopping.addproduct" | translate}}</button>
  </div>
  <!-- <div class="containerFilteration col">
    <form [formGroup]="formFilteration">
      <div class="row">
        <div class="col-lg-3 col-md-6 col-sm-12">
          <mat-form-field class="w-100" appearance="fill">
            <mat-label>{{"tasks.search" | translate}}</mat-label>
            <input matInput name="keyword" formControlName="keyword">
          </mat-form-field>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-12">
          <mat-form-field class="w-100" appearance="fill">
            <mat-label>{{"tasks.byuser" | translate}}</mat-label>
            <mat-select formControlName="userId">
              <mat-option *ngFor="let user of users" [value]="user.id">
                {{user.name}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <div class="col-lg-3 col-md-6 col-sm-12">
          <mat-form-field class="w-100" appearance="fill">
            <mat-label>{{"tasks.status" | translate}}</mat-label>
            <mat-select formControlName="status">
              <mat-option *ngFor="let state of status" [value]="state.id">
                {{state.name}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-12">
          <mat-form-field appearance="fill">
            <mat-label>{{"tasks.enteradaterange" | translate}}</mat-label>
            <mat-date-range-input formGroupName="range" [rangePicker]="picker">
              <input matStartDate formControlName="fromDate" placeholder="Start date">
              <input matEndDate formControlName="toDate" placeholder="End date">
            </mat-date-range-input>
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-date-range-picker #picker></mat-date-range-picker>
          </mat-form-field>
        </div>
      </div>
    </form>

  </div> -->
  <div class="containerTable example-container position-relative mat-elevation-z8">
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 w-100 isMobile">
      <!-- image Column -->
      <ng-container matColumnDef="image">
        <th mat-header-cell *matHeaderCellDef class="image"> image </th>
        <td class="image-td" mat-cell *matCellDef="let element, let index = index">
          <span class="mobile-label">{{"shopping.position" | translate}}:</span>

          <img [alt]="element.title" [src]="element.image" alt="" width="70px" height="70px">
        </td>
      </ng-container>
      <!-- title Column -->
      <ng-container matColumnDef="title">
        <th mat-header-cell *matHeaderCellDef class="title"> {{"shopping.title" | translate}} </th>
        <td mat-cell *matCellDef="let element">
          <span class="mobile-label">{{"shopping.title" | translate}}:</span>
          {{element.title}}
        </td>
      </ng-container>
      <!-- Price Column -->
      <ng-container matColumnDef="price">
        <th mat-header-cell *matHeaderCellDef class="price"> Price</th>
        <td mat-cell *matCellDef="let element">
          <span class="mobile-label">Price:</span>
          {{element.price}}
        </td>
      </ng-container>

      <!-- status Column -->
      <ng-container matColumnDef="category">
        <th mat-header-cell *matHeaderCellDef class="category">category</th>
        <td mat-cell *matCellDef="let element">
          <span class="mobile-label">category:</span>
          {{element.category}}
        </td>
      </ng-container>
      <!-- rating Column -->
      <ng-container matColumnDef="rating">
        <th mat-header-cell *matHeaderCellDef class="rating"> rating </th>
        <td mat-cell *matCellDef="let element">
          <span class="mobile-label">rating:</span>
          rate: {{element.rating.rate}}
          count: {{element.rating.count}}
        </td>
      </ng-container>
      <!-- actions Column -->
      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef class="actions">{{"tasks.actions" | translate}}</th>
        <td mat-cell *matCellDef="let element" class="columnActionTable">
          <button mat-raised-button color="primary" (click)="updateRow(element)">{{"shopping.update" |
            translate}}</button>
          <button mat-raised-button color="warn" (click)="deleteRow(element._id)">{{"shopping.delete" |
            translate}}</button>
          <div class="row-spinner" *ngIf="element._id && element.loading" id="spinner-{{element.id}}">
            <mat-spinner diameter="60" [style.width.px]="60" [style.height.px]="60"></mat-spinner>
          </div>

        </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

    </table>
    <!-- <mat-paginator [length]="100" [pageSize]="2" [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page">

    </mat-paginator> -->
    <mat-paginator class="demo-paginator" [length]="length" [pageSize]="pageSize" showFirstLastButtons
      [pageSizeOptions]="pageSizeOptions" [pageIndex]="pageIndex" aria-label="Select page">
    </mat-paginator>

    <div class="contentSpinner" *ngIf="isLoading">
      <mat-spinner diameter="60" [style.width.px]="60" [style.height.px]="60"></mat-spinner>
    </div>
  </div>



</div>