<div class="container">
  <div class="card container-shoppingCart">
    <h5 class="card-header">Shopping Cart</h5>
    <div class="card-body">
      <ul class="list-unstyled p-0 ul-card">
        <li class="list-card">
          <div class="content-cart justify-content-between d-flex">
            <div class="section-cart align-items-center d-flex">
              <img src="https://fakestoreapi.com/img/81fPKd-2AYL._AC_SL1500_.jpg" width="60px" alt="">
              <div class="description-cart">
                <h2 class="title-description">dsa</h2>
                <p class="paragh-cart">dsadsddsads </p>
              </div>
            </div>
            <div
              class="actions-and-price flex-column d-flex flex-direction-column justify-content-center align-items-center">
              <span class="price d-block font-weight-bold">$25</span>
              <button class="btn btn-danger action-remove">remove</button>
            </div>
          </div>
        </li>
        <li class="list-card">
          <div class="content-cart justify-content-between d-flex">
            <div class="section-cart align-items-center d-flex">
              <img src="https://fakestoreapi.com/img/81fPKd-2AYL._AC_SL1500_.jpg" width="60px" alt="">
              <div class="description-cart">
                <h2 class="title-description">dsa</h2>
                <p class="paragh-cart">dsadsddsads </p>
              </div>
            </div>
            <div
              class="actions-and-price flex-column d-flex flex-direction-column justify-content-center align-items-center">
              <span class="price d-block font-weight-bold">$25</span>
              <button class="btn btn-danger action-remove">remove</button>
            </div>
          </div>
        </li>
        <li class="list-card">
          <div class="content-cart justify-content-between d-flex">
            <div class="section-cart align-items-center d-flex">
              <img src="https://fakestoreapi.com/img/81fPKd-2AYL._AC_SL1500_.jpg" width="60px" alt="">
              <div class="description-cart">
                <h2 class="title-description">dsa</h2>
                <p class="paragh-cart">dsadsddsads </p>
              </div>
            </div>
            <div
              class="actions-and-price flex-column d-flex flex-direction-column justify-content-center align-items-center">
              <span class="price d-block font-weight-bold">$25</span>
              <button class="btn btn-danger action-remove">remove</button>
            </div>
          </div>
        </li>

      </ul>

    </div>
  </div>

</div>
