.containerFilteration {
  padding-top: 40px;
}

.container-spinner {
  justify-content: center;

  padding-top: 90px;
}

:host ::ng-deep .example-card {
  flex-direction: column;
  justify-content: space-between;
}

.section-card {


  margin-bottom: 20px;
  transition: all .3s ease;
  -webkit-transition: all .3s ease;
  -moz-transition: all .3s ease;
  -ms-transition: all .3s ease;
  -o-transition: all .3s ease;
}

.section-card:hover {
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
  z-index: 1;
}