.headerAddTask {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-close {
  background-color: red;
  color: wheat;
  font-size: 20px;
  min-width: 10px;
  width: initial;
  padding: 1px 10px;

  line-height: 29px;
  border-radius: 50px;
}

.dialog-footer {
  button {
    font-size: 20px;
    padding: 5px 25px;
    height: initial;
  }

  display: flex;
  justify-content: center;
  padding-top: 0;
  padding-bottom: 17px;
}

.contentSpinner {

  background-color: rgba(0, 0, 0, 0.0200);
}

// :host ::ng-deep .mat-dialog-container {
//   position: relative !important;
// }

.upload {
  padding-bottom: 15px;

  .file-upload {
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 15px;
    background-color: white !important;
    border: 1px solid #e3e3e3;
    outline: 0 !important;
    border-radius: 5px !important;
    word-break: break-word;
  }
}

:host ::ng-deep .mat-form-field-invalid .mat-form-field-label,
:host ::ng-deep .mat-focused,
.mat-focused {
  color: rgba(0, 0, 0, .6) !important;

  .mat-form-field-required-marker,
  .mat-form-field-required-marker {
    color: rgba(0, 0, 0, .6) !important
  }
}

:host ::ng-deep .mat-form-field-invalid.ng-touched .mat-form-field-label,
:host ::ng-deep .mat-form-field-invalid.ng-touched .mat-form-field-label .mat-form-field-required-marker {
  color: #f44336 !important;
}

:host ::ng-deep .mat-form-field-invalid.ng-touched {

  .mat-form-field-flex {
    border: 1px solid red !important;
  }
}

.file-upload.borderRad {
  border: 1px solid red !important;
}