h4 {
  margin: 0;
}

.title {
  font-size: 1.3em;
}

.total {
  font-size: 2.5em;
}

.trend-up,
.description {
  font-size: 1.2em;
  display: inline-block;
  transform: translateY(-5px);
  color: green;
  -webkit-transform: translateY(-5px);
  -moz-transform: translateY(-5px);
  -ms-transform: translateY(-5px);
  -o-transform: translateY(-5px);
}

.description {
  font-size: 1.8em;
  padding: 0 5px;
  transform: translateY(0px);
  -webkit-transform: translateY(0px);
  -moz-transform: translateY(0px);
  -ms-transform: translateY(0px);
  -o-transform: translateY(0px);
}